header .titulo{
    font-size: 24px;
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  text-align: center;
}

nav button{
  text-align: center;
  background-image: url("logotipo.jpg");
  text-decoration: none;
  padding: 15px;
  border: 15px;
}